body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: lightgray;
}

.container {
    text-align: center;
    background-color: greenyellow;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
}

.converter {
    margin-bottom: 20px;
}

input, select, button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
}

.result p {
    font-size: 18px;
}
